---
layout: default
title: Talks - Kelley Robinson
active: "talks"
---

<div class="content">
  <h4>Hello! I'm Kelley.</h4>
  <div class="teaser">
    <p><img src="https://s3-us-west-1.amazonaws.com/krobinson.me/images/air-quotes-cropped.jpg"></p>
    <p>I'm a Security Advocate and Developer Evangelist for Twilio and Authy. Some of the things I like to talk about include Two-factor authentication, identity management, security UX, data engineering, Spark, how programmers learn and develop, and how programming communities thrive.</p>
    <p>Please get in touch if you are looking for speakers at your event! I'm happy to prepare a new talk or give one that has been tested before. Below you can find some of my recent talks.</p>
  </div>
  <h4 id="bio">Speaker Bio</h4>
  <div class="teaser">
    <p><strong><a href="{{ site.data.about.headshot }}">Headshot</a></strong></p>
    <p>{{ site.data.about.bio }}</p>
  </div>
</div>

{% for talk in site.data.talks %}
<div class="content">
  <h4>{{ talk.title }}</h4>
  <div class="line"></div>
  <div class="teaser">
    <p>{{ talk.notes }}</p>
    <p>{% if talk.video != null %}<strong><a href="{{ talk.video }}">Video</a> | </strong>{% endif %}{% if talk.slides != null %}<strong><a href="{{ talk.slides }}">Slides</a></strong>{% endif %}</p>
    <p><strong>Abstract</strong></p>
    <p>{{ talk.abstract }}</p>
    <p><strong>Conferences</strong></p>
    <ul>
    {% for conf in talk.conferences %}
    <li><a href="{{ conf.website }}">{{ conf.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}
