<header class="header" >
  <div class="logo">
    <h1>kelley robinson</h1>
    <h2 style="padding-left: 75px;">developer | writer | educator</h2>
  </div>
  <div>
  <nav class="mainmenu">
    <ul>
      {% if page.active == "blog" %}
      <li class="menu-item current">
      {% else %}
      <li class="menu-item" %}>
      {% endif %}
      <a href="/blog">Blog</a>
      </li>
      {% if page.active == "talks" %}
      <li class="menu-item current">
      {% else %}
      <li class="menu-item" %}>
      {% endif %}
      <a href="/talks">Talks</a>
      </li>
      {% if page.active == "contact" %}
      <li class="menu-item current">
      {% else %}
      <li class="menu-item">
      {% endif %}
      <a href="/">Contact</a>
      </li>
    </ul>
  </nav>
  </div>
</header>
