/*main.css */

/* clear css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-weight: 400;
	color: #2f4f4f;
	background-color: #f3f3f3;
}

pre,
code {
  font-size: 14px;
  font-family: courier;
  width: 93%;
  margin: 0 auto 15px auto;
}
pre code {
  background-color: #eef;
}
code {
  border-radius: 3px;
  background-color: #e7e7e7;
  padding: 1px 5px 1px 5px;
}
pre {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
  padding: 8px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

.logo {
	margin: 25px 0 50px 0;
}
.current a, .menu-item a:hover {
	color: #099f7d;
	border-bottom: dotted 1px;
}
a {
	text-decoration: none;
	color: #2f4f4f;
}
a:hover {
	color: #099f7d;
}
.logo h1 {
	font-family: 'Allura', cursive, sans-serif;
	font-size: 70px;
	text-align: center;
	margin-bottom: -28px;
}
.logo h2 {
	font-size: 12px;
	text-align: center;
}
h2 {
	font-size: 28px;
	padding: 15px 0 15px 0;
        margin: 0 auto 0 auto;
        width: 95%;
}
h3 {
	font-size: 28px;
	padding: 15px 0 15px 0;
        text-align: center;
}
h4 {
        font-size: 22px;
        margin: 0 auto 0 auto;
        width: 95%;
        padding: 15px 0 15px 0;
        font-weight: bold;
}
table {
        margin: 0 auto 0 auto;
        width: 95%;
        padding: 0 0 15px 0;
        line-height: 2.5;
}
em {
        font-style: italic;
}
nav ul {
	list-style-type: none;
}
nav li {
	display: inline;
	margin: 0 20px 0 20px;
}
.mainmenu {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0 50px 0;
}
a li .current {
	color: #099f7d;
	border-bottom: dotted 1px;
}
.line, hr {
	width: 95%;
	margin: 20px auto 20px auto;
	border-bottom: dotted 1px #099f7d;
        text-align: center;
}
.date {
	position: relative;
	background-color: #fff;
	padding: 0 15px 0 15px;
	top: -30px;
	display: inline;
	min-height: 11px;
}
.centered {
        text-align: center;
}
.comments {
        padding: 15px 25px 15px 25px;
}
.content {
	width: 940px;
	margin: 0 auto 40px auto;
	padding: 15px 15px 15px 15px;
	background-color: #fff;
	box-shadow: 1px 1px 5px #999999;
	border-radius: 3px;
	font-family: 'Raleway', 'Roboto', 'Helvetica Neue', sans-serif;
	font-size: 14px;
}
.content strong {
        font-weight: 700;
}
.content p {
	line-height: 2.5;
}
.teaser p, .post p {
	margin: 0 auto 15px auto;
	width: 95%;
	line-height: 1.75;
	text-align: left;
}
.teaser a, .post a {
	color: #099f7d;
}
.teaser ul, .post ul, .teaser li, .post li {
        width: 95%;
        margin: 0 auto 3px auto;
}
.post li p {
    margin-left: 3px;
}
ul {
    padding-bottom: 10px;
}
.inlined {
        display: inline;
}
button {
	outline: none;
	border: none;
	content: 'Read More';
	background: #099f7d;
	padding: 10px 10px 10px 10px;
	color: #fff;
	border-radius: 3px;
	margin: 10px auto 10px auto;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	width: 95px;
	text-align: center;
}
button:hover {
	background: #066f57;
}
blockquote {
        width: 85%;
        border-left: 10px solid #ccc;
        padding: 5px;
        margin: 5px auto 20px auto;
        quotes: "\201C""\201D""\2018""\2019";
}
.twitter-tweet {
    width: 100%;
    margin: 15px auto 15px auto;
    padding-bottom: 10px;
}
.references, .footnotes {
	font-size: 11px;
	word-wrap: break-word;
	text-align: left;
	display: block;
	margin: 0 0 5px 2%;
	line-height: 2;
}
.references a, .footnotes a {
	color: #2f4f4f;
}
.references a:hover, .footnotes a:hover {
	color: #099f7d;
}
.footnotes code.highlighter-rouge {
        font-size: 11px;
}
sup:hover {
        text-decoration: underline;
}
@media screen and (max-width: 1060px) {
	.content {
		width: 85%;
	}
        ul {
            list-style-position: inside;
        }
}
@media screen and (max-width: 480px) {
	nav li {
		display: block;
		padding: 10px 0 10px 0;
	}
	.logo h1 {
		font-size: 7em;
		line-height: .8;
	}
	.logo h2 {
		display: none;
	}
	.mainmenu {
		font-size: 2em;
	}
	.line {
		display: none;
	}
	.date {
		display: block;
		background-color: none;
		top: 0px;
		margin: 0 auto 20px auto;
	}
}
img {
    max-width: 100%;
    height: auto;
}
